body {
  margin: 1em !important;
}

header {
  max-width: 60ex;
}

#available, #recommendations {
  max-width: 60ex;
}

.bp3-card {
  margin-bottom: 2em;
}

img {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1em;
  max-height: 300px;
  max-width: 300px;
}
